---
import { TITLE, DESCRIPTION } from '../constants/head'
---

<!-- Global Metadata -->
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width,initial-scale=1" />
<link rel="icon" type="image/svg+xml" href="/favicon.ico" />
<link rel="sitemap" href="/sitemap-index.xml" />
<meta name="generator" content={Astro.generator} />

<!-- Font preloads -->
<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
    href="https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap"
    rel="stylesheet"
/>
<!-- Primary Meta Tags -->
<title>{TITLE}</title>
<meta name="title" content={TITLE} />
<meta name="description" content={DESCRIPTION} />

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website" />
<meta property="og:url" content={Astro.url} />
<meta property="og:title" content={TITLE} />
<meta property="og:description" content={DESCRIPTION} />
<!-- <meta property="og:image" content={new URL(image, Astro.url)} /> -->

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image" />
<meta property="twitter:url" content={Astro.url} />
<meta property="twitter:title" content={TITLE} />
<meta property="twitter:description" content={DESCRIPTION} />
<!-- <meta property="twitter:image" content={new URL(image, Astro.url)} /> -->
